[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
flask-security = "*"
email-validator = "*"
flask-migrate = "*"
wtforms = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
